<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item" *ngFor="let recipe of recipes">
      <div class="card w-60 h-65 mt-2 bg-light">
        <div class="row g-0">
          <div class="col-md-7">
            <div class="card-body">
              <h4 class="card-title">{{ recipe.title }}</h4>
              <p class="card-text fw-light">{{ recipe.description }}</p>
            </div>
          </div>
          <div class="col-md-5">
            <img
              [src]="recipe.image"
              style="max-height: 120px"
              class="img-fluid rounded-end float-end img-thumbnail"
              alt="..."
            />
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
