<div class="row">
    <div class="col-xs-12">
        <img
            [src]="recipe.image"
            alt=""
            style="max-height: 350px"
            class="img-fluid rounded d-block">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
            <div class="btn-group" role="group">
              <button class="btn btn-primary dropdown-toggle">
                Manage Recipe
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">To Shopping List</a></li>
                <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
                <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
              </ul>
            </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Price: ${{recipe.price}}
    </div>
    <div class="col-xs-12">
        Cooking time: {{recipe.time_minutes}} minutes.
    </div>
</div>
